/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Aug-2016, 10:57:21
    Author     : admin
*/

.pagination{
    margin:0px 5px !important;
}
.m-t-20
{
    margin-top:20px;
}
.m-t-25
{
    margin-top:25px;
}
label.control-label i {
    color: gray;
    font-weight: normal;
}
#list thead th {
    text-align: center;
    vertical-align:top !important;
}
#list tbody th {
    text-align: center;
    font-weight: normal;
}
#country_id_chosen,#state_id_chosen,#area_id_chosen{
    border-radius: 0px !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
    width:100% !important;
    font-size: 14px !important;
}
.chosen-container-single .chosen-single{
    border-radius: 0px !important;
    height: 34px !important;
}